extends ../layouts/main.pug
include ../mixins/videoBlock

block content
    .home-videos
        if videos.length != 0
            each video in videos
                +videoBlock(video)
        else 
            |No Videos