extends ../layouts/main.pug
include ../mixins/videoBlock

block content
    .search-header
        h3 Searching for #{searchingBy}
    .search-video
        if videos.length != 0
            each video in videos
                +videoBlock(video)
        else
            h5 No Videos Found